* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  .wrapper {
    margin: 0 auto;
    max-width: 1020px;
    overflow: hidden;
    height: 100%;
    position: relative;
  }
  
  .portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
  }
  
  .portfolio_header {
    padding: 69px 40px 0 41px;
  }
  
  .portfolio_header h2 {
    font-size: 30px;
    line-height: 18px;
    letter-spacing: -0.008em;
    color: #666d89;
    font-weight: 900;
  }
  
  .portfolio_header p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.0008em;
    color: #767e9e;
    font-weight: 300;
    padding-top: 27px;
  }
  
  .buttons {
    padding-top: 10px;
  }
  
  .button {
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.001em;
    color: #767e9e;
    font-weight: 400;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    padding: 2px 6px 3px 6px;
    margin-right: 7px;
  }
  
  .button:nth-child(2) {
    padding-left: 7px;
  }
  
  .button:nth-child(4) {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .active,
  .button:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
  }
  
  .portfolio_layout {
    display: grid;
    column-gap: 13px;
    row-gap: 17px;
    grid-template-columns: repeat(4, 1fr);
    padding: 23px 37px 0 36px;
  }
  
  .portfolio_element {
    align-self: center;
    justify-self: center;
  }
  
  .about {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }
  
  .about_header {
    padding: 68px 40px 0 40px;
  }
  
  .about_header h2 {
    font-size: 30px;
    line-height: 18px;
    letter-spacing: -0.008em;
    color: #666d89;
    font-weight: 900;
  }
  
  .about_header p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    padding-top: 27px;
  }
  
  .about_layout {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 46px 40px 0 40px;
  }
  
  .about-item {
    display: flex;
    flex-direction: column;
  }
  
  .about-item-text h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #666d89;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 13px;
  }
  
  .about-item-text p {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.005em;
    text-align: justify;
    color: #767e9e;
    font-weight: 400;
    padding-top: 10px;
  }
  
  .about-item-icons {
    padding-top: 22px;
  }
  
  .icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-right: 2px;
  }
  
  .icon-facebook {
    background-image: url('assets/img/singolo2/facebook.png');
  }
  
  .icon-facebook:hover {
    background-image: url('assets/img/singolo2/facebook-hover.png');
  }
  
  .icon-google {
    background-image: url('assets/img/singolo2/google.png');
  }
  
  .icon-google:hover {
    background-image: url('assets/img/singolo2/google-hover.png');
  }
  
  .icon-twitter {
    background-image: url('assets/img/singolo2/twitter.png');
  }
  
  .icon-twitter:hover {
    background-image: url('assets/img/singolo2/twitter-hover.png');
  }
  
  .icon-linkedin {
    background-image: url('assets/img/singolo2/linkedin.png');
  }
  
  .icon-linkedin:hover {
    background-image: url('assets/img/singolo2/linkedin-hover.png');
  }